extends layout

block content
  h1= title
  p Welcome to #{title}.
  <div>
  <h1>Login</h1>
  <form action="/controllers/auth-controller" method="POST">  
   
  Email: <input type="text" name="username">
  Password: <input type="password" name="password">
     
  <input type="submit" value="Submit">  
  </form>
  </div>