extends layout

block content
  h1= title
  p Welcome to #{title}.
  <div> 
  <h1>Register</h1>
  <form action="/controllers/register-controller" method="POST">  
  Username: <input type="text" name="username">  
  Paswword: <input type="password" name="password">
  <input type="submit" value="Submit"> 
  </form>
  </div>